@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: CanvasText;
  background-color: Canvas;
  color-scheme: dark;
}

.figure {
  @apply max-w-[7rem] h-44 rounded-sm overflow-hidden relative mx-auto duration-500 brightness-75
  hover:scale-125 hover:translate-x-0 hover:-translate-y-4 hover:z-10 hover:brightness-100 hover:shadow-lg
}

.figureRelative {
  @apply -top-10
}